<div>
  <%= form_for(:dog, :url => {action:'update', id: @dog.id}) do |f| %>

  <h2>Edit your dog's information here:</h2>
  
<br />
  <div class="formDogName">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div> <br />

  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <br /><br />
  <%= f.label :gender %>
        <br />
          <%= radio_button_tag(:gender, "male") %>
          <label for="gender male">Male</label>

          <%= radio_button_tag(:gender, "female") %>
          <label for="gender female">Female</label>
    <br /><br />
  <%= f.label :age %>
  <%= f.select :age, [['Puppy', 'puppy'], ['Young', 'young'], ['Adult', 'adult'], ['Senion', 'senior']]%>
    <br /><br />
  <%= f.label :size %>
  <%= f.select :size, [['Small', 'small'], ['Medium', 'medium'], ['Large', 'large'], ['Extra-Large', 'extra-large']]%> <br />

  <h3>Good with: </h3>  
    <ul>
      <li class="formListItems">
        <%= f.label :people %>
        <br />
          <%= radio_button_tag(:people, "yes", ) %>
          <label for="people friendly">Yes</label>
          <%= radio_button_tag(:people, "no", ) %>
          <label for="people friendly">No</label>
      </li>
      <li class="formListItems">
        <%= f.label :kids %>
        <br />
          <%= radio_button_tag(:kids, "yes", ) %>
          <label for="kid friendly">Yes</label>
          <%= radio_button_tag(:kids, "no") %>
          <label for="kid friendly">No</label>
      </li>
      <li class="formListItems">
        <%= f.label :other_dogs %>
        <br />
          <%= radio_button_tag(:other_dogs, "yes", ) %>
          <label for="other_dogs friendly">Yes</label>
          <%= radio_button_tag(:other_dogs, "no") %>
          <label for="other_dogs friendly">No</label>
      </li>
    </ul>
  <h3>Image file</h3>
    <%= f.file_field :avatar %>
    <br />
  <%= f.submit "update" %>
</div>

  <% end %>
<br />
<%= link_to("<< Back to List", {action: 'index'}, class: 'back-link') %>
</div>