<%= link_to("<< Back to List", {action: 'index'}, class: 'back-link') %>

<div class="dog show">
  <h2>Show Subject</h2>

  <table summary="Dog detail view">
  
    <tr>
      <th>Photo</th>
      <td><%= @dog.avatar %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @dog.name %></td>
    </tr>
    <tr>
      <th>Breed</th>
      <td><%= @dog.breed %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @dog.gender %></td>
    </tr>
    <tr>
      <th>Size</th>
      <td><%= @dog.size %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= @dog.age %></td>
    </tr>
    <tr>
      <th>Good with People</th>
      <td><%= @dog.people %></td>
    </tr>
    <tr>
      <th>Good with Kids</th>
      <td><%= @dog.kids %></td>
    </tr>
    <tr>
      <th>Good with Other Dogs</th>
      <td><%= @dog.other_dogs %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @dog.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @dog.updated_at %></td>
    </tr>
  </table>
